name: Build and Deploy (Kaniko + Kubectl)

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  # --- 第一部分：构建并推送镜像 (使用 Docker Buildx 支持多架构) ---
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Prepare Image Name
        id: prep
        run: |
          RAW_USER='${{ gitea.actor }}'
          LOWER_USER=$(echo $RAW_USER | tr '[:upper:]' '[:lower:]')
          HOST='gitea-http.gitea.svc.cluster.local:3000'
          echo "image_name=$HOST/$LOWER_USER/my-docs" >> $GITHUB_OUTPUT

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          config-inline: |
            [registry."gitea-http.gitea.svc.cluster.local:3000"]
              http = true
              insecure = true

      - name: Login to Registry
        uses: docker/login-action@v3
        with:
          registry: gitea-http.gitea.svc.cluster.local:3000
          username: ${{ gitea.actor }}
          password: ${{ secrets.PACKAGES_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            ${{ steps.prep.outputs.image_name }}:latest
            ${{ steps.prep.outputs.image_name }}:${{ github.sha }}

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Kubernetes
        uses: docker://bitnami/kubectl:latest
        env:
          KUBECONFIG_BASE64: ${{ secrets.KUBE_CONFIG_TEST }}
          HOST: gitea.173114.xyz
          RAW_USER: ${{ gitea.actor }}
          IMAGE_TAG: ${{ github.sha }}
        with:
          entrypoint: /bin/sh
          args: >-
            -c
            "
            set -xe;
            
            echo '>>> Step 1: Checking Environment';
            if [ -z \"$KUBECONFIG_BASE64\" ]; then
              echo 'Error: KUBECONFIG_BASE64 is empty! Check Gitea Secrets.';
              exit 1;
            fi;

            echo '>>> Step 2: Decoding Kubeconfig';
            echo \"$KUBECONFIG_BASE64\" | base64 -d > /tmp/kubeconfig;
            export KUBECONFIG=/tmp/kubeconfig;

            echo '>>> Step 3: Verifying Cluster Connection';
            kubectl cluster-info;
            
            echo '>>> Step 4: Preparing Image Name';
            LOWER_USER=$(echo $RAW_USER | tr '[:upper:]' '[:lower:]');
            FULL_IMAGE=\"$HOST/$LOWER_USER/my-docs:$IMAGE_TAG\";
            echo \"Target Image: $FULL_IMAGE\";

            echo '>>> Step 5: Executing Deployment';
            kubectl set image deployment/my-docs nginx=$FULL_IMAGE -n dev;

            echo '>>> Step 6: Restarting and Waiting';
            kubectl rollout restart deployment/my-docs -n dev;
            kubectl rollout status deployment/my-docs -n dev;
            "
