name: Build and Rollout

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: oracle
    container:
      image: catthehacker/ubuntu:act-22.04
    env:
      IMAGE_NAME: ${{ github.repository }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        id: build
        run: |
          echo "Building image locally: $IMAGE_NAME"
          
          docker build . --file Dockerfile \
            --tag "$IMAGE_NAME:latest" \
            --tag "$IMAGE_NAME:${{ github.sha }}"

      - name: Install kubectl
        uses: azure/setup-kubectl@v3

      - name: Restart/Rollout Deployment
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBE_CONFIG }}" > ~/.kube/config
          chmod 600 ~/.kube/config
          kubectl rollout restart deployment/my-docs
